.products-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    grid-auto-flow: dense;
    padding: 1rem;
    
}
.product {
    position: relative;
    display:flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #fff;
    height: min-content;
    overflow: hidden;
    border:2px solid #777;
}

.product-img {
    position: relative;
    border-radius: 1rem;
    border-bottom: 2px solid #bdbbbb;
    overflow: hidden;
    height: 200px; 
}
.product img {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
}
.product-img span {
    position: absolute;
    padding:.4rem;
    border-radius: 10%;
    background-color: #fff;
}
.product-icon {
    font-size: 1.3rem;
}

.product-text {
    position: relative;
    padding:1rem .3rem;
    display: flex;
    justify-content: space-between;
    
}
.product-text span {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem;
    border-radius: 10%;
    background-color: #f18a8a;
}
.product-text h4 {
    color:#807d7d;
}
.product-text p {
    margin-top: .3rem;
    font-weight: 600;
    color:#c20909;
}
