.slider {
   
    height: 20vh;
    display: flex;
    align-items: center;
    padding:1rem;
    overflow-x: scroll;
}
.slider-item {
    border-radius: 1rem;
    min-width: 80vw;
    height:100%;
    background-color: #708afd;
    margin-right: 1rem;
}


.cat {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    max-width: 90vw;
    padding-bottom: 1rem;
}
.cat li {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:.5rem;
    background-color: #e4e1e1;
    border-radius: .5rem;
    letter-spacing: 1px;
    color:#555;
    margin-left: 1rem;
    padding: .5rem;
    box-shadow: 10px 10px 10px 10px inset #709bfd80;
}
.cat li .cat-icon {
    margin-right: .5rem;
    color:#111;
}